NODE_ENV=development
APP_NAME=ExamNow
APP_URL=http://localhost:5173
API_URL=http://localhost:8787

DATABASE_URL=postgresql://postgres:password@localhost:5432/mockcenter
DATABASE_URL_UNPOOLED=postgresql://postgres:password@localhost:5432/mockcenter

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_WEBHOOK_SECRET=